html
  head
    link(rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" 
        integrity="sha256-ncjDAd2/rm/vaNTqp7Kk96MfSeHACtbiDU9NWKqNuCI=" 
        crossorigin="anonymous")
    script(src="js/report.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js")

    title VRT Automated Tool
  body
    div(class='ui container')
        button(class='fluid ui blue button' onclick="onClickGenerate()") Generate Report
        table(class='ui celled padded five column table')
            thead
                tr
                    th Timestamp
                    th Before Image
                    th After Image
                    th Differences
                    th Mismatch %
            tbody
                each report in reports
                    tr
                        td= report.timestamp
                        td: img(src=report.beforeImg width='200' height='132')
                        td: img(src=report.afterImg width='200' height='132')
                        td: img(src=report.diffImg width='200' height='132')
                        td: h2=report.data.misMatchPercentage + '%'